/**
 * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
 * Richard Clark (http://richclarkdesign.com)
 * http://cssreset.com
 */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
nav ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}

body { 
    font: 100%/1.5 'PT Sans', sans-serif; 
    color: #fff;
    background: #3f4143;
}
a {
    text-decoration: none;
    color: #deff00;
}
a:hover, a:focus {
    color: #7f7f7f;
}
img {
    max-width: 100%;
    height: auto;
    border: 0;
    outline: 0;
}
h1 {
    color: #deff00;
    font: normal 1.5em 'PT Sans', sans-serif;
    text-rendering: optimizeLegibility;
    margin-bottom: 0;
}
h2 {
    color: #deff00;
    font-size: 1.125em;
    font-weight: bold;
    margin: 0;
    text-rendering: optimizeLegibility;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #000;
}
section.light h2 {
    color: #3f4143;
    text-rendering: optimizeLegibility;
    text-transform: uppercase;
    text-shadow: none;
}

h3 {
    color: #deff00;
    margin: 0;
    font-weight: normal;
    text-rendering: optimizeLegibility;
    text-transform: uppercase;
}
section.light h3 {
    color: #649e21;
    text-transform: none;
}
p {
    font-size: 1em;
    margin: 0 0 1.5em;
}

strong {
    color: #deff00;
}

/** Structure **/
header {
    background: #a5cc3e;
    border-top: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
    height: 140px;
    margin: 0.5em 0;
}

header div.container {
    height: 100%;
    position: relative;
    overflow: visible;
    text-align: center;
}

#nav {
    display: block;
    margin: 1em 0;
    overflow: hidden;
    text-align: center;
}

#nav li {
    background: url(../img/diag-bg.png) top left repeat;
    display: block;
    padding: 0.25em;
    margin: 0.25em 0 0 0;
}

.nav-anchor {
    background-color: #6C8B3A;
    background-image: linear-gradient(top, #6C8B3A 0%, #5E8233 100%);
    background-image: -o-linear-gradient(top, #6C8B3A 0%, #5E8233 100%);
    background-image: -moz-linear-gradient(top, #6C8B3A 0%, #5E8233 100%);
    background-image: -webkit-linear-gradient(top, #6C8B3A 0%, #5E8233 100%);
    background-image: -ms-linear-gradient(top, #6C8B3A 0%, #5E8233 100%);
    background-image: -webkit-gradient(
        linear,left top,left bottom,color-stop(0.45, #6C8B3A),color-stop(1, #5E8233)
    );
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #3f4143;
    display: block;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 0.9375em;
    line-height: 1;
    padding: 0.4em;
    text-shadow: 0 1px 0 #c3dc74;
    text-transform: uppercase;
    vertical-align: middle;
}


.nav-anchor:hover {
    color: #fff;
    text-shadow: 0 1px 0 #3f4143;
}

span.nav-anchor:hover {
    color: #3f4143;
    text-shadow: 0 1px 0 #c3dc74;
}

.active .nav-anchor {
    background-color: #8ABC33;
    background-image: linear-gradient(top, #8ABC33 0%, #77B12C 100%);
    background-image: -o-linear-gradient(top, #8ABC33 0%, #77B12C 100%);
    background-image: -moz-linear-gradient(top, #8ABC33 0%, #77B12C 100%);
    background-image: -webkit-linear-gradient(top, #8ABC33 0%, #77B12C 100%);
    background-image: -ms-linear-gradient(top, #8ABC33 0%, #77B12C 100%);
    background-image: -webkit-gradient(
        linear,left top,left bottom,color-stop(0, #8ABC33),color-stop(1, #77B12C)
    );
    color: #fff;
    text-shadow: 0 1px 0 #3f4143;
}

.coming-soon {
    color: #deff00;
    font-size: 0.625em;
    text-shadow: none;
} 

#logo {
    margin: -0.375em auto -0.375em auto;
}

#header-free {
    display: none;
}

#header-date-info {
    display: none;
}

#logo a {
    width: 6.65em;
    height: 6.65em;
}

#logo a img {
    width: 6.65em;
    height: 6.65em;
}

.container {
    max-width: 71.25em;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 1.25em;
}

section.light {
    background: #f7f8f2;
    border-top: 4px solid #b0d246;
    border-bottom: 4px solid #b0d246;
    color: #3f4143;
    padding: 2em 0;
}

.intro {
    font-size: 1.25em;
}

section, footer, aside {
    margin: 1.5em 0;
}

aside {
    float: none;
    width: auto;
    overflow: hidden;
}
aside .map {
    float: left;
    margin-right: 2.25em;
}
aside .p {
    float: left;
}

label {
    color: #649e21;
    display: block;
}

input[type=text], input[type=email], textarea {
    border: 1px solid #8d9092;
    -moz-box-sizing: border-box;  
    -webkit-box-sizing: border-box;  
    box-sizing: border-box;
    font-size: 0.875em;
    width: 100%;
    -moz-box-shadow:    inset 0 2px #d4d5d7;
    -webkit-box-shadow: inset 0 2px #d4d5d7;
    box-shadow:         inset 0 2px #d4d5d7;
}

input[type=text], input[type=email] {
    height: 2.5em;
}

input[type=submit] {
    background-color: #447698;
    background-image: linear-gradient(top, #447698 0%, #3a6687 100%);
    background-image: -o-linear-gradient(top, #447698 0%, #3a6687 100%);
    background-image: -moz-linear-gradient(top, #447698 0%, #3a6687 100%);
    background-image: -webkit-linear-gradient(top, #447698 0%, #3a6687 100%);
    background-image: -ms-linear-gradient(top, #447698 0%, #3a6687 100%);
    background-image: -webkit-gradient(
        linear,left top,left bottom,color-stop(0.45, #447698),color-stop(1, #3a6687)
    );
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 0;
    color: #f7f8f2;
    display: block;
    float: right;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 0.9375em;
    line-height: 1;
    margin: 0.875em 0;
    padding: 0.6em 1em;
    text-shadow: 0 1px 0 #3c4247;
    text-transform: uppercase;
    vertical-align: middle;
}